body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100;
}

/* section */
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav-bar */

#nav-bar{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar ul li a{
    font-weight:450;
}

#nav-signup{
    color: red;
    /* font-weight: 500; */
}

.logoText{
    font-size: 25px;
    font-weight: bold;
    /* margin-left: 100px; */
}
.logoText:hover{
    color: white;
    background-color: rgb(255, 0, 0);
    transition: 1s;
}

.nav-link{
    font-size: 20px;
    font-weight:400;
    color: black;
    border: 2px solid transparent;
}

.nav-link:hover{
    /* color: white; */
    /* background-color: black; */
    border-bottom: 2px solid rgb(255, 0, 0);
    transition: 1s;
}

/* section - explore */

#explore img, #libraries img{
    border-radius: 50px;
    height: 400px;
    width: auto;
    transition: 1s;
}

#explore img:hover{
    transform: scale(1.5);
    transition: 1s;
}

#LISSOM{
    color: red;
}

#LISSOM:hover{
    color: white;
    font-size: 50px;
    font-weight: 500;
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}

/* libraries */

#libraries img{
    z-index: -1;
}

#libraries img:hover{
    transform: scale(1.5);
    transition: 1s;
}

/* section - gallery */

.card{
    align-items: center;
}

.card .inner{
    /* height: 300px; */
    /* width: 300px; */
}

#gallery img{
    /* align-items: center; */
    height: 300px;
    width: 300px;
    transition: 1s;
}

.inner{
    overflow: hidden;
}

.card img:hover{
    transform: scale(1.5);
    transition: 1s;
}

/* sign up */

#signup  {
    background-image: url('../img/7.png'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 600px 600px;
}


#signup form{
    background-color: white;
    text-align: center;
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
#signup button{
    align-items: center;
}

/* footer */

.footer p a{
    font-size:small;
    text-decoration: none;
}

.footer svg{
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}